<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
</head>
<body>
	<table border="1">
		<thead>
			<tr>
				<th>아이디</th>
				<th>비밀번호</th>
				<th>이름</th>
				<th>권한</th>
				<th>이메일</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td th:text="${obj.mId}"></td>
				<td th:text="${obj.mPw}"></td>
				<td th:text="${obj.mName}"></td>
				<td th:text="${obj.mLevel}"></td>
				<td th:text="${obj.mEmail}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>