<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="kr.or.ksmart.springboot34_mybatis.mapper.MemberMapper">
	<!-- resultMap 을 효율적으로 사용하기 위함 -->
	<resultMap type="Member" id="memberResultMap">
		<result property="mId" column="m_id" />
		<result property="mPw" column="m_pw" />
		<result property="mLevel" column="m_level" />
		<result property="mName" column="m_name" />
		<result property="mEmail" column="m_email" />
	</resultMap>

	<select id="getSearchMemberList" parameterType="String" resultMap="memberResultMap">
		SELECT
			m_id
			,m_pw
			,m_level
			,m_name
			,m_email
		FROM
			tb_member
		WHERE
			${sk} LIKE CONCAT('%',#{sv},'%');
	</select>

	<!-- 회원 삭제 -->
	<delete id="mDelete" parameterType="Member">
		
		DELETE
		FROM
			tb_member
		WHERE
			m_id= #{mId};
		
	</delete>
	
	<!-- 회원 정보 수정 -->
	<update id="mUpdate" parameterType="Member">
		UPDATE tb_member
		<trim prefix="SET" suffixOverrides=",">
			<if test="mPw neq null and mPw neq ''.toString()">
				m_pw = #{mPw}
			</if>
			<if test="mLevel neq null and mLevel neq ''.toString()">
				,m_level = #{mLevel}
			</if>
			<if test="mName neq null and mName neq ''.toString()">
				,m_name = #{mName}
			</if>
			<if test="mEmail neq null and mEmail neq ''.toString()">
				,m_email = #{mEmail}
			</if>
		</trim>
		WHERE
			m_id = #{mId};
	</update>

	<!-- 한 명 회원정보 조회 -->
	<select id="selectForUpdate" parameterType="String" resultMap="memberResultMap">
		SELECT
			m_id
			,m_pw
			,m_level
			,m_name
			,m_email
		FROM
			tb_member
		WHERE
			m_id=#{mId};
	</select>

	<!-- 회원 가입 -->
	<insert id="mInsert" parameterType="Member">
		INSERT INTO tb_member
			(m_id
			, m_pw
			, m_level
			, m_name
			, m_email
		)VALUES (
			#{mId}
			,#{mPw}
			,#{mLevel}
			,#{mName}
			,#{mEmail});
	</insert>


	<!-- 전체 회원 리스트 조회 -->
	<select id="getMemberlist" resultType="Member">
		SELECT
			m_id AS mId
			,m_pw AS mPw
			,m_level AS mLevel
			,m_name AS mName
			,m_email AS mEmail
		FROM
			tb_member;
	</select>
</mapper>